[submodule "libopencm3"]
	path = examples/libopencm3
	url = https://github.com/libopencm3/libopencm3
	branch = master
[submodule "drivers"]
	path = examples/libopencm3-drivers
	url = https://github.com/shchers/libopencm3-drivers.git
	branch = master
